@model BrentUniversity_Azure.Data.Student
@{
    ViewBag.Title = "GetAllStudents";
}

<h2>GetAllStudents</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id="StudentForm" }))
{
    <table>
        <tbody data-bind="template: { name: 'studentTemplate', foreach: Students }"></tbody>
    </table>

    @*<button data-bind="click: addStudent">Add Student</button>*@
    <button data-bind="enable: Students().length > 0" type="submit">Submit</button>
}

<script type="text/html" id="studentTemplate">
    <tr>
        <td>FullName: <input data-bind="value: FullName, uniqueName: true" /></td>
        <td>@Html.DisplayNameFor(model => model.LastName) <input data-bind="value: LastName, uniqueName: true" /></td>
        <td>@Html.DisplayNameFor(model => model.FirstName) <input data-bind="value: FirstName, uniqueName: true" /></td>
        <td>@Html.DisplayNameFor(model => model.EnrollmentDate) <input data-bind="value: moment(EnrollmentDate()).format('MM/DD/YYYY'), uniqueName: true" /></td>
        @*Needs tweaked DateTime part not working, moment in use manually*@
        @*<td>@Html.DisplayNameFor(model => model.EnrollmentDate) <input data-bind="DateTime: EnrollmentDate, value: moment(EnrollmentDate()).format('MM/DD/YYYY'), uniqueName: true" /></td>*@
        <td><a href="#" data-bind="click: function() { removeStudent($data) }">Delete</a></td>
        @*<td><a href='#' data-bind='click: $root.removeStudent'>Delete</a></td>*@
    </tr>
</script>

@section scripts{  
    <script type="text/javascript">
       
        $(document).ready(function() {

            function studentModel(data) {
                var self = this;

                self.Id = ko.observable(data.StudentId);
                self.FirstName = ko.observable(data.FirstName);
                self.LastName = ko.observable(data.LastName);
                self.EnrollmentDate = ko.observable(data.EnrollmentDate);

                self.FullName = ko.computed(function() {
                    return self.FirstName() + ' ' + self.LastName();
                });
            }
        
            function studentViewModel() {
                var self = this;
                self.Students = ko.observableArray([]);
                self.GetStudents = $.getJSON("/Cool/GetAllStudents", function(data) {
                    self.Students($.map(data, function(item) {
                        return new studentModel(item);
                    }));
                });
            };

            ko.applyBindings(new studentViewModel());
        });
    </script>  
}
