@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Brenton E. A. Bates</h3>

<address>
    Columbus, OH<br />
    <abbr title="Phone">Google Voice: </abbr>614.664.9621<br/>
    <a href="mailto:brentonbates@gmail.com">BrentonBates@gmail.com</a>
</address>
