@{
    ViewBag.Title = "Home";
}

<div class="jumbotron popover-content">
    <h3><strong>What is <mark>BrentUniversity</mark>?</strong></h3>
    <p>
        <ul>
            <li>
                <small>
                    This is a sample application built merely for showcasing a small
                    portion of my development arsenal. Its functionality consist of
                    creating, viewing, editing, and deleting student records.
                    <br/>
                    @Html.ActionLink("View Live Demo", "Index", "Student", null, new { @class = "btn btn-lg btn-danger" })
                </small>
            </li>
        </ul>
    </p>
    <br />
    <h3><strong>What technologies were used?</strong></h3>
    <p>
        <ul>
            <li>
                <small>
                    VS2013, SQL Server 2012, ASP.NET MVC5, C#, EntityFramework 6.0.2 having a
                    generic repository and unit of work pattern. This project also utilizes
                    StructureMap, jQuery, PagedList, WebGrease, Bootstrap and much more, with included
                    unit / integration tests using JustMock and nUnit.
                </small>
            </li>
        </ul>

    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3><strong>Want to see Glimpse in action?</strong></h3>
        <p>
            If you want more insights into my application, check out awesomeness that glimpse can offer!
            Click the button below to turn it on, then come back and view the bottom right corner of your
            browser window. Hover, Click, and Enjoy!
        </p>
        <p><a class="btn btn-info" href="http://brentuniversityazure.azurewebsites.net/glimpse.axd">Turn On Glimpse</a></p>
    </div>
    <div class="col-md-4">
        <h3><strong>Want to browse the source?</strong></h3>
        <p>
            Navigate to github and search for BrentUniversity_Azure, that is the name of the repository for this project.
            Feel free to click the button below to be directly navigated to my github profile which has plenty of repositories
            for you to browse to if you are interested.
        </p>
        <p><a class="btn btn-warning" href="https://github.com/NoFlaw/BrentUniversity_Azure">View the Code</a></p>
    </div>
    <div class="col-md-4">
        <h3><strong>Visit My Profile</strong></h3>
        <p>
            You can easily find out more about my background, experience and abilities on my profile. Head on over by clicking below,
            I'm always open to collaboration and hope you have enjoyed taking a tour of my application.
        </p>
        <p>
            @Html.ActionLink("My Profile", "MyProfile", "Home", null, new { @class = "btn btn-success" })
        </p>
    </div>
</div>