@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h3><strong>What is <mark>BrentUniversity</mark>?</strong></h3>
    <p>
        This is a sample application built merely for showcasing a small
        portion of my development arsenal. Its functionality consist of
        viewing student records, as well as creating/editing/deleting
        them as well.
    </p>
    <br />
    <h3><strong>What technologies were used?</strong></h3>
    <p>
        <ul>
            <li>
                VS2013, ASP.NET MVC5, C#, EntityFramework 6.0.2 having a
                generic repository and unit of work pattern. This project also utilizes
                StructureMap, jQuery, PagedList, WebGrease and much more, with included
                unit / integration tests using JustMock and nUnit.
            </li>
        </ul>

    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3><strong>Want to see Glimpse in action?</strong></h3>
        <p>
            If you want more insights into my application how about check out what goodies glimpse can offer!
            click the button below to turn it on, then come back and view the bottom right corner of your
            browser window. Have Fun!
        </p>
        <p><a class="btn btn-info" href="http://brentuniversityazure.azurewebsites.net/glimpse.axd">Turn On Glimpse &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3><strong>Want to check out the source?</strong></h3>
        <p>
            Navigate to github and search for BrentUniversity_Azure, that is the name of the repository for this project.
            Feel free to click the button below to be directly navigated to my github profile which has plenty of repositories
            for you to browse to if you are interested.
        </p>
        <p><a class="btn btn-warning" href="https://github.com/NoFlaw/BrentUniversity_Azure">Goto GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3><strong>Visit My LinkedIn</strong></h3>
        <p>
            You can easily find out more about experience and abilities on LinkedIn. I'm open to collaboration and hope you have
            enjoyed taking a tour of my application.
        </p>
        <p><a class="btn btn-success" href="https://www.linkedin.com/in/brentonbates">Goto LinkedIn &raquo;</a></p>
    </div>
</div>