@{
    ViewBag.Title = "Profile";
}

<h2>Salutations, Nice to meet you!</h2>

<div class="container">
    <div class="row">
        <br />
        <br />
        <div class="modal-body" style="text-align: center;">
            <img src="~/Content/profile/BrentonBates.png" id="BrentonBatesPhoto" width="180" height="180" class="img-circle" alt="Brenton E. A. Bates">
            <h3 class="media-heading">
                Brenton E. A. Bates
                <br />
                <small>
                    Agile Bussiness Application Developer
                </small>
            </h3>
            <span><strong>Skills: </strong></span>
            <span class="label label-primary">Azure</span>
            <span class="label label-primary">Visual Studio</span>
            <span class="label label-primary">SQL Server</span>
            <span class="label label-primary">.NET Framework</span>
            <span class="label label-primary">Team Foundation Server</span>
            <span class="label label-primary">Git</span>
            <span class="label label-primary">C#</span>
            <span class="label label-primary">Visual Basic</span>
            <span class="label label-primary">C++</span>
            <span class="label label-primary">ASP.NET WebForms</span>
            <span class="label label-primary">ASP.NET MVC</span>
            <span class="label label-primary">ASP.NET AJAX</span>
            <span class="label label-primary">WPF / WinForms</span>
            <span class="label label-primary">Web Services (WCF / WebAPI)</span>
            <span class="label label-primary">TDD (JustMock / RhinoMocks)</span>
            <span class="label label-primary">SharePoint / Nintex</span>

            <span class="label label-warning">JavaScript</span>
            <span class="label label-warning">angular.js</span>
            <span class="label label-warning">jQuery</span>
            <span class="label label-warning">knockout.js</span>
            <span class="label label-warning">Kendo UI</span>
            <span class="label label-warning">HTML5</span>
            <span class="label label-warning">CSS</span>
            <span class="label label-warning">XML</span>
            <span class="label label-warning">JSON</span>

            <span class="label label-info">Entity Framework</span>
            <span class="label label-info">StructureMap</span>
            <span class="label label-info">AutoMapper</span>
            <span class="label label-info">Glimpse</span>
            <span class="label label-info">Fiddler</span>
            <span class="label label-info">Firebug</span>
            <span class="label label-info">Windows</span>
            <span class="label label-info">Linux</span>
            <hr />
        </div>
        <div>
            <p style="text-align: left">
                <h3>About</h3>
                Greetings to all, please allow me to introduce myself; I am Brenton Bates, Innovative Agile Business Application Developer
                with a primary focus on the Microsoft .NET technology stack. I'm experienced in creating multi-tier windows & web related
                solutions utilizing database modeling, performance tuning, and code re-factoring. I have an in-depth knowledge of all
                phases of SDLC with proven logical & analytical abilities to see both the business and technical sides of a problem. I'm
                self-motivated and strive to continually improve upon my skill-set. I am also a versatile team player with excellent communication,
                presentation, and interpersonal skills. Lastly, I've provided four years of honorable service for the U.S. Marine Corps and fought in Iraqi Freedom.
                <br />
                <br />
                <h3>Interests</h3>
                Interested in mentoring junior developers and providing intrinsic, pragmatic, software solutions
                using best practices.
                <br />
                <br />
                <h3>Find Brenton Online</h3>
                Currently I use LinkedIn to stay connected, feel free to visit my profile:
                <a href="http://www.linkedin.com/in/brentonbates">
                    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" alt="View Brenton Bates's profile on LinkedIn">
                </a>
                <br />
                <br />
                <h3>View My Resume</h3>
                <ul>
                    <li>
                        @Html.ActionLink("View", "ViewPdf", "Home", null, new { target = "_blank" })
                    </li>
                    <li>
                        @Html.ActionLink("Download", "DownloadPdf", "Home")
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>







